<!DOCTYPE html>
<html>
<head>
<title>ROHITH</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link type="text/css"
rel="stylesheet" href="Agiru_rohithkumar.css"/>
</head>
<body>
  <div class="container-fluid">

          <nav>
  <ul class="nav">
    <li> <a href= "/" >Rohith Agiru</a></li>
<li> <a href="about">Home</a></li>
<li><a href= "calculator">Calculator</a></li>
<li><a href= "contact" >Contact</a></li>
<li><a href= "guestbook">GuestBook</a></li>

<li class="abc"><a href= https://www.facebook.com/rohith1818>
  <img   alt=Home  src="ab.png" class="abc" height="28" width="28" ></a></li>
  <li class="abc"><a href= https://www.instagram.com/rohithhkumar>
    <img   src="gt.png" alt=Home class="abc" height="25" width="25" ></a></li>
    <li class="abc"><a href= https://bitbucket.org/rohith_agiru/>
    <img src="bitbucket.gif" alt=Home class="abc" height="25" width="25" ></a></li>
    <li class="abc"><a href= https://www.linkedin.com/in/rohith-kumar-73a89a137/>
      <img src="linkdin.png" alt=Home class="abc" height="25" width="25" ></a></li>
      <li class="abc"><a href= https://github.com/rohithagiru>
        <img src="github.png" alt=Home class="abc" height="25" width="25" ></a></li>
</ul></nav>

<header>
  About Me
</header>
<br>
<p>Myself <b><span class="xyz"> Rohith Kumar Agiru </span> </b>. However, most people call me 'Rohith'. I am from Hyderabad,India.<br>
I have pursued my undergraduation in Information technology from JNTUH.
</p>

    <img class="img-circle" src="rohith.jpg" alt=Home height="200" width="200">


   
<iframe class="video"  width="560" height="315" src="https://www.youtube.com/embed/2OcbJkQY-SA?ecver=1"  allowfullscreen ></iframe>
    


<h3> Plans </h3>

<p>I am excited to learn a lot of things from Nwmissouri university in my graduation which will be helpful in future.<br>
My goal is to get placed as a software develepor in a good company where I can improve my skills.<br>
</p>
<section>
  <h3> Interests </h3>
  <p>
  I love playing cricket and listening music.<br>
  I try to explore new things. <br> I am intrested in Java Programming.
  </p>
  <footer>
    BY ROHITH AGIRU
  </footer>
  </section>
 
</div>
</body>
</html>
