<!DOCTYPE html>
<html>
<head>
<title>Power of a number</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link type="text/css"
rel="stylesheet" href="calculator.css"/>
</head>
<body>
    <div class="container-fluid">
      
  <nav>
    <ul class="nav">
      <li> <a href= "/" >Rohith Agiru</a></li>
      <li> <a href="about">Home</a></li>
      <li><a href= "calculator">Calculator</a></li>
      <li><a href= "contact" >Contact</a></li>
      <li><a href= "guestbook">GuestBook</a></li>
  <li class="abc"><a href= https://www.facebook.com/rohith1818>
    <img   alt=Home  src="ab.png" class="abc" height="28" width="28" ></a></li>
    <li class="abc"><a href= https://www.instagram.com/rohithhkumar>
      <img   src="gt.png" alt=Home class="abc" height="25" width="25" ></a></li>
      <li class="abc"><a href= https://bitbucket.org/rohith_agiru/>
      <img src="bitbucket.gif" alt=Home class="abc" height="25" width="25" ></a></li>
      <li class="abc"><a href= https://www.linkedin.com/in/rohith-kumar-73a89a137/>
        <img src="linkdin.png" alt=Home class="abc" height="25" width="25" ></a></li>
        <li class="abc"><a href= https://github.com/rohithagiru>
          <img src="github.png" alt=Home class="abc" height="25" width="25" ></a></li>
</ul></nav>


<div class="bnm">
<h2>Power of a Number</h2>
</div>

<script src="calculator.js"></script>

  
  <form >
  Enter Number:
  <input id="value1" type="text" name="x" size=30>
  <br>
  Enter power :  
  <input id="value2" type="text" name="y" size=30><br>
  <input type="button" value="Calculate" onClick='calMath()'></button>
  <button type="reset" value="Reset">Clear</button>
  <br>
  The result is:
  <input id="result" type="text" name="answer" size=30>
  </form>
 


</body>
</html>
