<!DOCTYPE html>
<html>
<head>
        <link type="text/css"
        rel="stylesheet" href="contact.css"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>contact</title>
</head>
<body>
  <div class="container-fluid">
    <ul class="nav">
      <li> <a href= "/" >Rohith Agiru</a></li>
      <li> <a href="about">Home</a></li>
      <li><a href= "calculator">Calculator</a></li>
      <li><a href= "contact" >Contact</a></li>
      <li><a href= "guestbook">GuestBook</a></li>
  <li class="abc"><a href= https://www.facebook.com/rohith1818>
    <img   alt=Home  src="ab.png" class="abc" height="28" width="28" ></a></li>
    <li class="abc"><a href= https://www.instagram.com/rohithhkumar>
      <img   src="gt.png" alt=Home class="abc" height="25" width="25" ></a></li>
      <li class="abc"><a href= https://bitbucket.org/rohith_agiru/>
      <img src="bitbucket.gif" alt=Home class="abc" height="25" width="25" ></a></li>
      <li class="abc"><a href= https://www.linkedin.com/in/rohith-kumar-73a89a137/>
        <img src="linkdin.png" alt=Home class="abc" height="25" width="25" ></a></li>
        <li class="abc"><a href= https://github.com/rohithagiru>
          <img src="github.png" alt=Home class="abc" height="25" width="25" ></a></li>
</ul>

<div class="container">
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="CNumber">Contact Number :</label>
    <input type="text" id="CNumber" name="Contact Number" placeholder="Your Contact Number">

    <label for="email_id">Email id:</label>
    <input type="text" id="email_id" name="email id:" placeholder="Your email id">


    <label for="Comments">Comments:</label>
    <textarea id="Comments" name="Comments" placeholder="Write something.." style="height:200px"></textarea>
</form>
    <form action="Contact.html" method="get">
      <input type="submit" formaction="Contact.html" value="Submit">
  </form>
</div>
</div>
</body>
</html>
