<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Rohith's Guestbook</title>
<link rel="stylesheet" href="/guestbook.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">

</head>
<body class="container">
        <nav>
                <ul class="nav">
                  <li> <a href= "/" >Rohith Agiru</a></li>
              <li> <a href="about">Home</a></li>
              <li><a href= "calculator">Calculator</a></li>
              <li><a href= "contact" >Contact</a></li>
              <li><a href= "guestbook">GuestBook</a></li>
              
              <li class="abc"><a href= https://www.facebook.com/rohith1818>
                <img   alt=Home  src="ab.png" class="abc" height="28" width="28" ></a></li>
                <li class="abc"><a href= https://www.instagram.com/rohithhkumar>
                  <img   src="gt.png" alt=Home class="abc" height="25" width="25" ></a></li>
                  <li class="abc"><a href= https://bitbucket.org/rohith_agiru/>
                  <img src="bitbucket.gif" alt=Home class="abc" height="25" width="25" ></a></li>
                  <li class="abc"><a href= https://www.linkedin.com/in/rohith-kumar-73a89a137/>
                    <img src="linkdin.png" alt=Home class="abc" height="25" width="25" ></a></li>
                    <li class="abc"><a href= https://github.com/rohithagiru>
                      <img src="github.png" alt=Home class="abc" height="25" width="25" ></a></li>
              </ul></nav>
<h1>
Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
</body>