<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>A02 QUnit Test Results</title>
  <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.0.1.css">
</head>

<body>
  <!-- the qunit div displays testing results -->
  <div id="qunit"></div>
  <!-- the qunit-fixture div is for tests affecting the DOM -->
  <div id="qunit-fixture"></div>
  <br/>
  <h3>Important: Include all JavaScript files to be tested in the test html file (in order). </h3>
  <!-- References:  https://www.sitepoint.com/getting-started-qunit/ -->
  <script src="https://code.jquery.com/qunit/qunit-2.0.1.js"></script>
  <script src="calculator.js"></script>
  <script src="A02test.js"></script>

</body>
</html>