
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #582D02;    
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
}
.abc{
	float: right;
}
li a:hover {
    background-color:#582D02;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
body{
	background-image: url("mn.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.container {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
}
label{

    font:  bold 15px/15px "Comic Sans MS", cursive, sans-serif;
    color: rgb(33, 19, 0)
}
