
body{
	background-image: url("mn.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #582D02;
    
}
h1 {
	
	font:  bold 22px/30px Georgia, serif;
	Color: #3C1F03;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
}
.abc{
	float: right;
}
li a:hover {
    background-color:#582D02;
}

 
h1 {
	font-size: 50px;
	text-align: center;
	Color: white;
}
#div {
	
	text-align: center;
	
	font-weight: 600;
	Color: #F5FFFA;
		}

.container{
	margin: auto;
}

